<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add connectionString="Data Source=DESKTOP-91F61D3;Initial Catalog=Ahorcado;Integrated security=true;" name="ConnectionString" />    
  </connectionStrings>
</configuration>